# DOMINANCE ET E.coli

In [1]:
# Chargement des librairies
library(tidyverse)
library(dplyr)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
# Importation du tableau de donnée final
df_pm4 <- tibble(read.csv("data/output/data_final_pm4.csv", sep = ";"))
head(df_pm4)

  ASV                              sample.id temperature frequence Kingdom
1 000346e31c7cc77c7ed1244763587e06 PM415MV6  15           6        Bacteria
2 000346e31c7cc77c7ed1244763587e06 PM415MV6  15           6        Bacteria
3 000346e31c7cc77c7ed1244763587e06 PM415MV6  15           6        Bacteria
4 000346e31c7cc77c7ed1244763587e06 PM420MV8  20          38        Bacteria
5 000346e31c7cc77c7ed1244763587e06 PM420MV8  20          38        Bacteria
6 000346e31c7cc77c7ed1244763587e06 PM420MV8  20          38        Bacteria
  Phylum         Class               Order
1 Pseudomonadota Gammaproteobacteria Enterobacterales_737866
2 Pseudomonadota Gammaproteobacteria Alteromonadales
3 Pseudomonadota Gammaproteobacteria Enterobacterales
4 Pseudomonadota Gammaproteobacteria Enterobacterales_737866
5 Pseudomonadota Gammaproteobacteria Alteromonadales
6 Pseudomonadota Gammaproteobacteria Enterobacterales
  Family                 Genus             Species     base_ref
1 Alteromonadaceae       Pseudoalteromonas NA          GG2
2 Pseudoalteromonadaceae Pseudoalteromonas tetraodonis RDP
3 Pseudoalteromonadaceae Pseudoalteromonas NA          SILVA
4 Alteromonadaceae       Pseudoalteromonas NA          GG2
5 Pseudoalteromonadaceae Pseudoalteromonas tetraodonis RDP
6 Pseudoalteromonadaceae Pseudoalteromonas NA          SILVA

# I- VERIFICATION DU NOMBRE DE E.coli DANS LES DATABASES

Pour assurer la fiabilité des analyses, nous avons d'abord vérifié l'abondance de E. coli car les nématodes ont été nourris avec cette bactérie.

In [ ]:
nb_coli <- df_pm4 %>%
  filter(Species == "coli") %>%       # Filtrer uniquement les lignes où l'espèce est "coli"
  group_by(base_ref) %>%              # Regrouper par base de reference
  dplyr::summarise(
    nb_asv_distincts = n_distinct(ASV),  # Calcul du nombre d'ASV distincts
    nb_coli = n()                        # Calcul du nombre total d'occurrences de "coli"
  )

# Afficher les résultats
print(nb_coli)

# II- CALCUL DU GENRE ET DE L'ESPECE DOMINANTE

Nous avons analysé les données pour identifier l’espèce et le genre les plus abondants en fonction des différentes températures et des bases de données utilisées.

## 1) L'espece dominante

In [3]:
# Trouver l'espèce la plus abondante pour chaque combinaison de base de données et température
resultat <- df_pm4 %>%
 group_by(temperature) %>% # grouper les températures 
filter(frequence == max(frequence)) %>% # filtrer les lignes avec la fréquence la plus élevée
  group_by(base_ref) %>% # grouper par base de references 
  ungroup() %>% # dégrouper 
  select(base_ref, temperature, Species, frequence)  # Sélectionner les colonnes importantes

# Afficher les résultats
print(resultat)

# A tibble: 9 × 4
  base_ref temperature Species    frequence
  <chr>          <int> <chr>          <int>
1 RDP               15 NA            142042
2 GG2               15 rumoiensis    142042
3 SILVA             15 casei         142042
4 RDP               25 NA             94065
5 GG2               25 rumoiensis     94065
6 SILVA             25 casei          94065
7 RDP               20 NA            260151
8 GG2               20 rumoiensis    260151
9 SILVA             20 casei         260151

## 2) Le genre dominant

In [4]:
# Trouver le genre le plus abondant pour chaque combinaison de base de donnée et température
resultat <- df_pm4 %>%
  group_by(base_ref, temperature) %>% # grouper par base de references et temperature 
  filter(frequence == max(frequence)) %>% # filtrer les lignes avec la fréquence la plus élevée
  ungroup() %>% # dégrouper 
  select(base_ref, temperature, Genus, frequence)  # Sélectionner les colonnes importantes

# Afficher les résultats
print(resultat)

# A tibble: 9 × 4
  base_ref temperature Genus           frequence
  <chr>          <int> <chr>               <int>
1 RDP               15 Vibrio             142042
2 GG2               15 Vibrio_A_678542    142042
3 SILVA             15 Vibrio             142042
4 RDP               25 Vibrio              94065
5 GG2               25 Vibrio_A_678542     94065
6 SILVA             25 Vibrio              94065
7 RDP               20 Vibrio             260151
8 GG2               20 Vibrio_A_678542    260151
9 SILVA             20 Vibrio             260151